name: "tagged-release"

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Publish
      run: dotnet publish -r linux-x64 -c Release /p:PublishSingleFile=true --self-contained

  tagged-release: 
    needs: build
    name: "Tagged Release"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Publish
      run: |
        dotnet publish -r linux-x64 -c Release /p:PublishSingleFile=true --self-contained
        echo ${{ github.sha }} > Release.txt
        sudo apt -y install tree
        tree
    - name: GH Release  
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          OptechX.Library.Apps.UpdateTool/bin/Release/net7.0/linux-x64/publish/oxlaut.dll


            