name: "tagged-release"

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Publish
      run: dotnet publish -r linux-x64 -c Release /p:PublishSingleFile=true --self-contained

  tagged-release: 
    needs: build
    name: "Tagged Release"
    runs-on: "ubuntu-latest"
    steps:
      - name: "GH Release"
        run: |
          echo "Putting together release"
          - name: "Find oxlaut file"
          id: find_file
          run: |
            oxlaut_file=$(find ./OptechX.Library.Apps.UpdateTool/bin/Release/net7.0/linux-x64/publish -type f -name "oxlaut" | head -n 1)
            echo "::set-output name=oxlaut_file::$oxlaut_file"
      - name: "Create Release"
        id: create_release
        uses: "marvinpinto/action-automatic-releases@latest"
        if: startsWith(github.ref, 'refs/tags/')
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: "${{ steps.find_file.outputs.oxlaut_file }}"

            